.txt1
	overflow: hidden

	h2
		font: bold 20px $baseFont
		color: #888b8b
		margin: 45px 0 24px 50px


.prod-info
	display: flex
	padding: 57px 0 0
	&__img
		width: 50%
		img
			height: 622px
			display: block
			margin: 0 auto

	&__info
		width: 50%


	&__sub
		font: bold 17px $baseFont
		color: #888b8b
		margin: 10px 0 11px

	&__title
		font: bold 38px $baseFont
		margin: 0 0 45px
		color: #37850d

	&__sub2
		font: bold 16px $baseFont
		color: #37850d
		margin: 0 0 17px

	&__wr1
		padding: 0 0 0 38px

	&__wr2
		padding: 0 0 0 10px

	&__ul
		padding-left: 25px
		li
			position: relative
			font: bold 17px $segiPrint
			color: #23336d
			margin: 0 0 6px
			line-height: 19px
			.icon
				position: absolute
				top: 1px
				left: -22px


.prod-info-list
	width: 296px
	height: 353px
	position: relative
	left: -15px
	background: url(../images/info.jpg) no-repeat 0 0
	font-family: $fGotic
	font-size: 11px
	padding: 86px 20px 0 28px

	&__row
		padding: 7px 0
		border-bottom: 1px solid #404041
