.txt1
    overflow: hidden

    h2
        font: bold 19px $baseFont
        color: #888b8b
        margin: 18px 0 24px 50px


.prod-info
    display: flex
    padding: 57px 0 0
    &__img
        width: 50%
        img
            height: 632px
            display: block
            margin: 0 auto
            position: relative
            left: 21px
            top: -9px
            

    &__info
        width: 50%

    &__btn
        color: #4c8bca
        font-size: 10px
        font-weight: bold
        border-radius: 8px
        padding: 9px 30px
        border: 1px solid #4c8bca
        display: inline-block
        cursor: pointer


    &__sub
        font: bold 17px $baseFont
        color: #888b8b
        margin: 0 0 11px

    &__title
        font: bold 36px $baseFont
        margin: 0 0 45px
        color: #37850d

    &__sub2
        font: bold 16px $baseFont
        color: #37850d
        margin: 0 0 17px

    &__wr1
        padding: 0 0 0 38px

    &__wr2
        padding: 0 0 0 10px

    &__ul
        padding-left: 27px
        li
            position: relative
            font: bold 17px $segiPrint
            color: #23336d
            letter-spacing: -1px
            line-height: 18px
            &:not(:last-child)
                margin: 0 0 8px
            .icon
                position: absolute
                top: 1px
                left: -22px

    +max-screen($screenSM)
        &__sub,
        &__sub2
            font-size: 12px

        &__title
            font-size: 27px
            margin: 0 0 19px

        &__ul li
            font-size: 12px

            .icon--ok
                width: 15px
                height: 15px
                background-size: contain

        &__img img
            height: auto
            left: 0

.m-prod-info
    &__preview
        img
            width: 150px
            margin: 0 auto
            display: block

        .prod-info-list
            left: 0
            margin: 0 auto

    &__btn
        color: #fff
        font-size: 11px
        font-weight: bold
        border-radius: 4px
        background-color: #4c8bca
        padding: 11px 19px
        display: inline-block
        cursor: pointer
        margin-top: 15px

    &__info
        padding: 34px 16px

    &__sub
        font: bold 14px $baseFont
        color: #888b8b
        margin: 0 0 10px

    &__title
        font: bold 24px $baseFont
        margin: 0 0 8px
        color: #37850d

    &__sub2
        font: bold 14px $baseFont
        color: #37850d
        margin: 0 0 14px

    &__ul
        padding-left: 27px
        li
            position: relative
            font: bold 12px $segiPrint
            color: #23336d
            letter-spacing: -1px
            line-height: 18px
            &:not(:last-child)
                margin: 0 0 8px
            .icon
                position: absolute
                top: 1px
                left: -22px


.prod-info-list
    width: 296px
    height: 353px
    position: relative
    left: -20px
    background: url(../images/info.jpg) no-repeat 0 0
    font-family: $fGotic
    font-size: 11px
    padding: 86px 20px 0 28px

    &__row
        padding: 7px 0
        &:not(:last-child)
            border-bottom: 1px solid #404041

    +max-screen($screenSM)
        font-size: 10px
        background-size: contain
        width: 257px
        height: 305px
        padding: 75px 20px 0 28px

.baner-container-milk
    .baner2
        display: none

    +max-screen($screenSM)
        .sticker2
            width: 185px

    +max-screen($screenSM_xs)
        .baner2
            display: block

        .baner
            display: none

        .sticker2
            width: 132px
            right: 3px

.milk-container1
    h2
        margin: 18px 292px 24px 25px
    +max-screen($screenSM)
        h2
            font-size: 15px
    +max-screen($screenSM_xs)
        h2
            margin: 53px 0 24px 16px
            font-size: 16px

.milk-container2
    &__items
        display: none

    &__title
        background-color: #4c8bca
        color: #fff
        font-size: 11px
        font-weight: bold
        display: block
        padding: 5px
        margin: 0 0 10px
        text-align: center

    +max-screen($screenSM_xs)
        .news__nav
            display: none

        .tabs
            display: none

        &__items
            display: block

.milk-container3
    +max-screen($screenSM)
        padding: 0 16px

.milk-container4
    margin: 40px 0 77px
    padding: 0 32px

    &__link
        font-size: 14px
        color: #5c5c5d
        font-weight: bold

    .baner-m
        display: none


    +max-screen($screenSM)
        &__link
            font-size: 10px

    +max-screen($screenSM_xs)
        margin: 30px 16px 15px
        padding: 0
        .cols
            display: none

        .baner-m
            display: block

            p
                position: absolute
                bottom: 40px
                left: 21px
                
