.top-search
    width: 110px
    display: inline-block
    background: #fff
    height: 14px
    border-top: 1px solid #a3a3a3
    border-bottom: 1px solid #a3a3a3
    margin-top: 0
    position: relative
    @extend .cf
    input
        height: 100%
        width: 97px
        float: left
        padding: 0 3px
        font-size: 12px
    button
        width: 10px
        font-size: 10px
        color: #b0b0b0
        cursor: pointer
    input,button
        display: block


.social
    li
        display: inline-block
        padding: 0 1px



.stick
    position: absolute
    right: 94px
    top: -5px
    transition: top 0.3s
    width: 93px
    height: 125px
    background: url(../images/sticker.png) no-repeat 0 0
    &:hover
        top: -1px
    p
        font-size: 15px
        font-weight: bold
        color: #676761
        text-align: center
        margin: 16px 0 3px

    img
        display: block
        margin: 0 auto

    a
        text-decoration: none


.sticker2
    position: absolute
    top: -110px
    right: 40px
    &--bottom
        top: auto
        bottom: -60px

.news
    position: relative
    overflow: hidden
    text-align: center
    &__title
        margin: 39px 0 26px
        text-transform: uppercase
        font-size: 15px
        font-weight: bold
        position: relative
        letter-spacing: 1px
        &:after
            content: ''
            display: block
            width: 46px
            height: 4px
            background: #4c8bca
            position: absolute
            top: 100%
            left: 50%
            margin-left: -23px
            margin-top: 3px

    &__nav
        @extend .cf
        li
            float: left
            width: 50%
            list-style: none
            a
                display: block
                text-decoration: none
                font: bold 14px $baseFont
                color: #fff
                padding: 7px
                text-align: center
                background: #373737
            &._active
                a
                    background: #4c8bca 

            // &:first-child
            //     a
            //         background: #4c8bca

            // &:last-child
            //     a
            //         background: #373737
        &--color2
            &.news__nav
                li 
                   
                    a
                        font-weight: normal
                        background: #e85d45 
                    &._active
                        a
                            background: #4c8bca



    &__items
        margin: 16px 0 10px
        display: flex
        justify-content: flex-start
        flex-wrap: wrap


    &__more-btn
        margin-bottom: 41px


.news-item
    width: 304px
    border: 1px solid #f6f6f6
    margin: 14px
    transition: all 0.3s
    cursor: pointer

    &:hover
        border: 1px solid #4c8bca
    a
        text-decoration: none
    &__content
        padding: 5px 7px 22px 7px
        color: #000

    &__title
        font-size: 11px
        font-weight: bold
        text-align: left
        position: relative
        margin: 0 0 14px
        font-family: $fGotic
        &:after
            content: ''
            display: block
            width: 40px
            height: 2px 
            position: absolute
            top: 100%
            left: 0
            margin-top: 2px
            background: #4c8bca

    &__desc
        font-size: 11px
        text-align: left
        font-family: $fGotic


.text-block
    overflow: hidden
    text-align: center
    margin: 60px 0 0 0
    padding: 0 30px
    p
        font: normal 15px $fBenguiat
        line-height: 19px

    .par
        margin-bottom: 20px

    &--t2
        margin: 71px 0 10px 0

.text-block2
    overflow: hidden
    text-align: center
    padding: 0 30px
    color: #525351
    margin: 29px 0 33px 0
    h2
        font: bold 15.6px $fGotic
        text-transform: uppercase
        margin: 0 0 9px 0

    p 
        font: bold 14px $fGotic
        text-transform: uppercase

    &--font-avanty
        h2,p
            font-family: $baseFont

    &--color-gray
        h2,p
            color: #888b8b

.text-block3
    display: flex
    padding: 15px 0
    &__text
        width: 68%
        text-align: center
        h2
            text-transform: uppercase
            font: normal 16px $fBenguiat
            margin: 25px 0 0
        p
            font: normal 16px $fBenguiat
            margin: 0

    &__items
        width: 32%
        display: flex
        
    &__item
        width: 110px
        height: 95px
        text-align: center

        img
            width: 61px
            margin: 0 auto 7px
            display: block

        p
            font: normal 10px $fBenguiat

.research-items
    overflow: hidden
    @extend .cf

    .title-throughline
        padding-top: 33px

    &-wr
        padding: 42px 0 37px
        display: flex
        justify-content: space-around

        .item
            position: relative
            width: 183px
            background-color: #edf8fc
            border-radius: 5px
            padding: 4px

        .content
            height: 173px
            text-align: center
            background-color: #dbf0fa
            font-size: 14px
            color: #4f596e
            padding: 45px 7px 0
            font-family: $fBenguiat
            font-weight: bold

        .icon
            position: absolute
            top: -25px
            left: 50%
            margin-left: -29px
            width: 58px
            height: 58px
            display: flex
            justify-content: center
            align-items: center
            border-radius: 100%
            background-color: #fff



.text-block4
    overflow: hidden
    text-align: center
    padding: 0 100px
    p
        font: normal 15px $fBenguiat
        margin: 47px 0 0

    h2
        font: bold 27px $fBenguiat
        text-transform: uppercase
        margin: 35px 0 25px


.tiles
    margin: 24px 0 0 0
    overflow: hidden
    position: relative
    &__row
        @extend .cf
        height: 312px
        margin: 0 0 20px 0
        
    &__col1
        width: 658px
        float: left

    &__col2
        width: 324px
        float: right
        padding: 20px 25px 
        background: #e2eff0
        box-shadow: 0 2px 0px 1px rgba(0,0,0,0.1)
        height: 311px

    &__col3
        width: 487px
        padding: 22px 31px 
        background: #e2eff0
        box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1)
        float: left
        height: 317px

    &__col4
        width: 493px
        float: right

    &__title
        font: bold 20px $fBenguiat
        color: #0a5a98
        margin: 0 0 6px 0

    &__text
        font: bold 16px $fBenguiat
        line-height: 21px

.tiles2
    margin: 0
    position: relative

    &__wr
        padding: 0 50px


    &__row
        @extend .cf
        margin: 0 0 18px 0
        
    &__col1
        width: 66%
        float: left

    &__col2
        width: 32%
        float: right

    &__col3
        width: 49%
        float: left

    &__col4
        width: 49%
        float: right

    &__title
        font: bold 20px $fBenguiat
        color: #0a5a98
        margin: 0 0 10px 0

    &__text
        font: bold 14px $fBenguiat

    &--bg
        &-lpink
            background: #fefced

        &-skyblue
            background: #e2eff0

        &-blue
            background: #285181

    &--pad
        padding: 34px 26px

    &--border-shadow
        box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1)

    &--par
        padding-bottom: 17px

    &--h
        &-265
            height: 265px

        &-240
            height: 240px

        &-200
            height: 200px
        &-185
            height: 185px

    &--c
        &-white
            color: #fff
            p,h2
                color: #fff




.reviews
    background: linear-gradient(to top , #cdd5dc 0% ,  #f6f7f7 10%, #f6f7f7 90% , #cdd5dc 100%)
    padding: 30px 0 23px 
    overflow: hidden
    position: relative
    @extend .cf

    &__items
        width: 750px
        margin: 0 auto
        position: relative
        left: 30px

    &__nav
        text-align: center
        li
            margin: 0 5px
            display: inline-block
            a
                width: 10px
                height: 10px
                display: block
                border-radius: 100%
                background: #acb8c3
                &.active
                    background: #5089b6

    .slick-dots
        text-align: center
        li
            margin: 0 5px
            display: inline-block
            &.slick-active
                button
                    background: #5089b6
                    color: #5089b6
            button
                content: ''
                width: 10px
                height: 10px
                cursor: pointer
                display: block
                border-radius: 100%
                background: #acb8c3
                color: #acb8c3
                overflow: hidden
                &.active
                    background: #5089b6





.reviews-item
    display: flex
    .slick-dots
        margin-top: 3px
    &__img
        width: 126px
    
    &__content
        width: 620px
        margin-left: 11px

    &__title
        font: bold 15px $fBenguiat
        color: #000
        margin: 0 0 12px

    &__desc
        font: normal 15px $fBenguiat
        color: #054989
        line-height: 18px
        margin-left: 33px
        position: relative
        &:before
            content: ''
            position: absolute
            display: block
            width: 1px
            height: 80%
            top: 10%
            left: -15px
            background: #7d9ebf



.maps
    padding-bottom: 11px
    position: relative
    &:before
        content: ''
        display: block
        width: 100%
        height: 13px
        position: absolute
        background: linear-gradient(to bottom , #8597a7 , transparent)
        top: 0
        left: 0
        z-index: 9

    &:after
        content: ''
        display: block
        width: 100%
        height: 13px
        position: absolute
        background: linear-gradient(to top , #8597a7 , transparent)
        bottom: 11px
        left: 0
        z-index: 9

.b-circle
    position: relative
    overflow: hidden
    padding: 10px 0 24px
    
    &__left-txt
        position: absolute
        top: 99px
        left: 0
        text-align: left

    &__right-txt
        position: absolute
        top: 320px
        right: 0
        text-align: right

    &__img
        img
            height: 610px
            margin: 0 auto
            display: block

    &--txt-lg
        font: bold 31px $fMaryedpro
        color: #999999
        line-height: 25px

    &--txt-sm
        font: normal 16px $baseFont
        color: #999999
        line-height: 14px
        margin-top: 0


.text-block5
    text-align: center
    overflow: hidden
    p
        font: normal 13px $fBenguiat
        color: #000
        margin: 0 0 17px

.text-block6
    text-align: center
    overflow: hidden
    padding: 0 0 44px
    p
        font: bold 33px $baseFont
        color: #27821b
        line-height: 41px
        letter-spacing: -1px

.text-block7
    text-align: justify
    
    &__wr
        padding: 59px 62px 27px

    &__wr2
        padding: 32px 62px 40px


    h2
        font: bold 27px $fBenguiat
        margin: 0 0 11px
        color: #0a5a98
        letter-spacing: -0.4px

    &__p
        font: normal 19px $fBenguiat
        line-height: 25px

    &__style-title
        font: bold 20px $fBenguiat
        line-height: 25px
        color: #0a5a98
        padding-right: 20px

    &__img
        margin: 0 auto
        display: block
        height: 232px
        position: relative
        left: 22px


.thumb
    padding: 50px 0 0
    text-align: center
    @extend .cf
    position: relative
    &:after
        content: ''
        display: block
        bottom: 0
        left: 0
        width: 100%
        height: 25px
        background: linear-gradient(to bottom , #d6e1e0 , transparent)
    &__title
        font-size: 25px
        font-weight: bold
        margin: 19px 0 0
        color: #777777

    &__sub
        font-size: 14px
        font-weight: bold
        color: #777777
        margin: 2px 0 20px



.text-block8
    text-align: justify
    overflow: hidden
    h2
        font: bold 27px $fBenguiat 
        color: #0a5a98
        margin: 0 0 12px

    p
        font: normal 20px $fBenguiat 

.text-block13
    text-align: justify
    overflow: hidden
    h2
        font: bold 27px $fBenguiat 
        color: #0a5a98
        margin: 0 0 9px
        letter-spacing: -0.4px

    p
        font: normal 20px $fBenguiat 
        line-height: 24px


.box-shadow
    width: 760px
    margin: 0 auto
    box-shadow: 0 0 12px 12px rgba(241,241,241,1)
    background: #fff
    overflow: hidden
    padding: 26px 0

    &--pad3
        padding: 15px 0 18px 

    &--pad2
        padding: 30px 35px 35px 40px

    &__line
        height: 1px 
        background: #333333

    &__p
        font: normal 12.5px $fBenguiat
        color: #333333



.accordion
    overflow: hidden

    &__wr
        width: 770px
        margin: 0 auto
    &__item
        border-bottom: 1px solid #b7b7b8
        position: relative
        .accordion
            &__content
                height: 0
                visibility: hidden
            &__arr
                transform: rotate(0deg)

        &._open
            .accordion
                &__content
                    height: auto
                    visibility: visible
                &__arr
                    transform: rotate(180deg)

    &__title
        cursor: pointer
        position: relative
        p
            font: bold 20px $fBenguiat
            color: #0e5a98
            padding: 5px 0 6px

    &__arr
        position: absolute
        top: 50%
        margin-top: -2px
        right: 3px
        transition: transform 0.3s

    &__content
        p
            font: bold 15px $fBenguiat
            color: #888b8b
            margin: 0 0 18px


.news-more
    height: 382px
    overflow: hidden
    position: relative
    background: url(../images/baner10.jpg) no-repeat 0 0
    background-size: contain

    a
        text-decoration: none


    &__item
        width: 243px
        min-height: 198px
        vertical-align: top
        background: #fff
        display: inline-block
        margin: 0 5px
        padding: 12px
        overflow: hidden

    &__img
        height: 131px
        overflow: hidden
        img
            transition: all 1s
            transform: scale(1)
        &:hover
            img
                transform: scale(1.1)

    &__title
        margin: 0
        font: bold 15px $fBenguiat
        color: #0a5a98

    &__items
        text-align: center
        margin-top: 118px


.slider-popup
    position: relative
    &__arrows
        width: 100%
        height: 100%
        position: absolute


    &__arrow-l
        position: absolute
        top: 50%
        left: -45px
        margin-top: -20px
        cursor: pointer
    &__arrow-r
        position: absolute
        top: 50%
        right: -45px
        margin-top: -20px
        cursor: pointer

    &__date
        margin: 15px 0 0 0
        font: normal 14px $fBenguiat
        color: #000
        text-align: right

    &__slide
        outline: none
        img
            width: 100%

    &__slide-title
        position: relative
        font: normal 18px $fBenguiat
        margin: 18px 0
        padding: 0 20px

    &__magnific
        position: absolute
        top: 0
        right: 20px
        cursor: pointer


.milkimg
    position: absolute
    top: 38px
    left: 81px

.js-tabs-tab
    display: none !important
    &._active
        display: flex !important


.webcamera-sl

    .slick-dots
        text-align: center
        position: relative
        top: 3px
        li
            display: inline-block
            &.slick-active
                button
                    background: #373737
        button
            width: 12px
            height: 12px
            background: #4c8bca
            margin: 0 2px
            display: inline-block
            border-radius: 100%
            color: #4c8bca
            font-size: 0
            cursor: pointer

.notfound
    margin: 150px 0 230px
    text-align: center
    overflow: hidden

    h1
        font-size: 36px
        text-transform: uppercase
        color: #0a5a98
        font-weight: bold
        font-weight: $baseFont
        margin: 0 0 180px

    p
        color: #000
        font-size: 23px
        font-weight: $fBenguiat
        margin: 0