.btn
    display: inline-block
    box-sizing: border-box
    vertical-align: middle
    text-align: center
    cursor: pointer
    background: transparent
    text-decoration: none
    position: relative
    user-select: none
    transition: $sp-fast

    font-size: inherit
    padding: 0

    
    & > SPAN
        border-bottom: 1px solid transparent
        padding: 0 0 2px 0 
        transition: border-color $sp-fast
        
    &:hover
        & > SPAN
            border-color: transparent

    &--more
        padding: 6px 9px
        border-radius: 3px
        border: 1px solid #000
        font-size: 8px 
        text-transform: uppercase
        color: #000
        background: #fff

    &--link
        color: #fff
        padding: 7px
        background: #70a3d6
        display: inline-block
        position: relative
            
        &:after
            content: ''
            display: block
            position: absolute
            width: 100%
            height: 1px 
            background: #70a3d6
            bottom: -4px
            left: 0
            transition: bottom 0.4s
        &:hover
            &:after
                bottom: -1px


    &--feedback-submit
        color: #fff
        font-size: 16px
        padding: 8px 36px
        border-radius: 15px
        background: #4c8ccc
        &--min
            padding: 8px 15px

    /* sizes */

    /* colors */

