.form

	&-feedback
		width: 824px
		margin: 0 auto
		box-shadow: 0 0 12px 12px rgba(241,241,241,1)
		background: #fff
		overflow: hidden
		padding: 26px 0


		&__row
			padding: 0 26px 0 9px
			margin-bottom: 15px
			&--no-m
				margin-bottom: 0


.table
	width: 100%
	border-collapse: collapse 
	p
		font-size: 10px
	thead
		background: #e5e5e5
		margin-bottom: 2px
		tr
			border-bottom: 3px solid #fff
		td
			padding: 7px 10px
			text-align: center
		td:first-child
			border-radius: 5px 0 0 5px
		td:last-child
			border-radius: 0 5px 5px 0
	
	tbody
		tr
			border-bottom: 3px solid #fff
		td
			background: #f4f4f4
			text-align: left
			padding: 7px 10px
			height: 26px
			&:nth-child(2n)
				background: #dbdbdb

		td:first-child
			border-radius: 5px 0 0 5px
		td:last-child
			border-radius: 0 5px 5px 0