.footer
	background: #fff

	&__top
		@extend .cf
		border-bottom: 2px solid #000

	&__left
		padding: 5px 0 5px 27px
		width: 50%
		float: left
		p
			font-size: 12px
			font-weight: bold 
			display: inline-block
			text-transform: uppercase
			letter-spacing: 0.5px

		.social
			display: inline-block
			margin-left: 15px

	&__right
		text-align: right
		padding: 5px 21px 5px 0
		float: right
		width: 50%
		.link
			font-size: 13px 
			font-weight: bold
			margin: 0 8px
			letter-spacing: 1px

	&__bottom
		text-align: right
		padding-bottom: 66px
		p
			color: #888987
			padding: 9px 0
			font-size: 13px
			font-weight: bold
			letter-spacing: 0.3px