.header
	overflow: hidden
	&__top
		height: 21px
		background: $c333
		border-bottom: 1px solid #828282
		position: relative

	&__top2
		height: 28px
		background: url(../images/head-top.jpg) no-repeat right top , #fff
		// margin-top: 16px

	&__wr
		background: #fff
		width: 1000px
		margin: 0 auto
		position: relative
		height: 152px
		padding-top: 16px

	&__logo
		border-bottom: 1px solid #b0b0b0
		padding: 5px 0
		img
			width: 254px
			height: 55px
			margin-left: 42px

	&__top-menu
		float: left
		width: 50%
		li
			padding: 0 3px
			display: inline-block
			a
				font: bold 10px $fGotic
				text-decoration: none
				color: #fff

	&__menu
		text-align: center
		display: flex
		justify-content: space-around
		position: relative
		background: #fff
		&._fixed
			position: fixed
			top: 0
			z-index: 999
			width: 1000px
		li
			a
				font: bold 19px $fAcademy
				color: #676761
				text-decoration: none
				padding: 7px 0
				display: inline-block
	
		&--theme-shadow-bottom
			&:after
				content: ''
				display: block
				width: 100%
				height: 20px
				position: absolute
				top: 100%
				left: 0
				background: linear-gradient(to bottom , #d7e1e1 , transparent)
				z-index: 9

	&__top-search
		float: right
		width: 50%
		text-align: right
		position: relative
		right: -80px
		p
			font: italic 9px $fMaryedpro
			color: #fff
			display: inline-block
			margin-left: 9px
	